{% extends "layouts/base.njk" %}

{% block heading %}
    
{% endblock %}

{% block baseHead %}
    {% NavbarTop %}
    <div class="p-5">
        {{ content | safe }}
    </div>
{% endblock %}

{% block baseFooter %}

{% endblock %}