---
layout: layouts/side.njk
title: Pokémon Data
description: Data for a specified Pokémon.
pagination:
    data: numPokemon.results
    size: 1
    alias: id
---

<h1>{{id.name}}</h1>
<script></script>