---
layout: layouts/side.njk
title: Pokémon Data
description: Data for a specified Pokémon.
pagination:
    data: numPokemon.results
    size: 1
    alias: id
permalink: "pokemon/{{id.name | slugify}}/"
---

<h6 class="hidden" id="imgURL">{{id.url}}</h6>
<div>
    {% CardItem url=id.url %}
</div>
<script text="text/javascript" src="/src/js/pokemon_get.js" defer></script>